/* Globals */

/* Colors */

.text-primary {
  color: #ddd !important;
}

/* Buttons */

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: #333;
  border: 0;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-primary {
  background-color: #ddd;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #bbb;
}

.btn-primary:active {
  background-color: #999 !important;
}