@inject DivisionService DivisionService

@if (Id == null)
{
    @Name
}
else
{
    <a href="@ThroneMasterUriProvider.GetGameUri(Id.Value)" class="text-inherit" target="_blank">@(Name ?? Id.ToString())</a>
}

@code {

    [Parameter]
    public int? Id { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? LeagueId { get; set; }

    [Parameter]
    public string? SeasonId { get; set; }

    [Parameter]
    public string? DivisionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (LeagueId != null && SeasonId != null && DivisionId != null && Id != null)
        {
            var gameName = await DivisionService.GetGameName(LeagueId, SeasonId, DivisionId, Id.Value);
            if (gameName != null)
                Name = gameName;
        }
    }
}