@page "/"
@using TMLeague.Services
@using TMLeague.ViewModels
@inject LeaguesService LeaguesService

<PageTitle>Thronemaster leagues</PageTitle>

<p class="lead d-none sm-block d-md-block d-lg-block d-xl-block">
    Rankings, halls of fame and summaries of thronemaster leagues.
</p>

@if (LeaguesVM == null)
{
    <TMLeague.Components.Loading></TMLeague.Components.Loading>
}
else
{
    @foreach (var league in LeaguesVM.Leagues)
    {
        <NavLink class="btn btn-primary btn-league btn-league d-flex w-100 h-100 m-1" 
                 style="@(league.BackgroundImage == null ? "" : $"background-image: url('{league.BackgroundImage}');")"
                 href="@($"/league/{league.Id}/index")">
            <span class="h2 m-auto">@league.Name</span>
        </NavLink>
    }
}

@code {
    private LeaguesViewModel? LeaguesVM { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LeaguesVM = await LeaguesService.GetLeagues(CancellationToken.None);
    }
}