@page "/"

<PageTitle>Thronemaster leagues</PageTitle>

<p class="lead d-none sm-block d-md-block d-lg-block d-xl-block">
    Rankings, halls of fame and summaries of thronemaster leagues.
</p>

<NavLink class="btn btn-primary btn-league d-flex w-100 h-100 m-1" href="/league/sl">
    <span class="h2 m-auto">The Silent League of Faceless Men</span>
</NavLink>

<NavLink class="btn btn-primary btn-league d-flex w-100 h-100 m-1" href="/league/loiaf">
    <span class="h2 m-auto">League of Ice and Fire</span>
</NavLink>