@page "/league/{leagueId}/index"
@using TMLeague.Services
@inject LeaguesService LeaguesService

<h3>@LeagueDetails?.Name</h3>

<p class="lead d-none sm-block d-md-block d-lg-block d-xl-block">
    @LeagueDetails?.Description
</p>

<div class="d-flex w-100 h-100">Here would be League details...</div>

<footer class="text-white-50 d-none sm-block d-md-block d-lg-block d-xl-block">
    @if (LeagueDetails?.Rules != null)
    {
        <p class="mb-0">Rules of the league are <a id="league-rules-link" href="@LeagueDetails.Rules" class="text-primary">here</a>.</p>
    }
    @if (LeagueDetails?.Discord != null)
    {
        <p class="mb-0">Join discord server <a id="league-discord-link" href="@LeagueDetails.Discord" class="text-primary">here</a>.</p>
    }
</footer>

@code {
    [Parameter]
    public string? LeagueId { get; set; }

    private Models.League? LeagueDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LeagueDetails = await LeaguesService.GetLeague(LeagueId, CancellationToken.None);
    }
}