@page "/league/{leagueId}/season/{seasonId}"
<h3>League @LeagueId</h3>
<h4>Season @SeasonId</h4>

@code {
    [Parameter]
    public string? LeagueId { get; set; }
    [Parameter]
    public string? SeasonId { get; set; }
}