@if (Stats != null)
{
    @Stats.Total
    @if (Stats.Total > 0)
    {
        <div class="tt-inner">
            <ul class="list-group list-group-flush text-bg-dark">
                @if (Stats.Won > 0)
                {
                    <li class="list-group-item text-bg-dark">Won: @Stats.Won</li>
                }
                @if (Stats.Lost > 0)
                {
                    <li class="list-group-item text-bg-dark">Lost: @Stats.Lost</li>
                }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public TMModels.BattleStats? Stats { get; set; }
}