@if (SectionVm != null)
{
    <h5>@SectionVm.Section</h5>
    <div class="d-flex flex-row">
        @foreach (var division in SectionVm.Divisions)
        {
            <HallOfFameDivision LeagueId="@LeagueId" DivisionVm="@division"></HallOfFameDivision>
        }
    </div>
}

@code {
    [Parameter]
    public string? LeagueId { get; set; }

    [Parameter]
    public HallOfFameSectionViewModel? SectionVm { get; set; }
}