@using TMApplication.ViewModels

@if (DivisionVm != null)
{
    <div class="flex-fill px-1">
        <table class="table table-striped table-dark pb-0 table-winner" width="200px">
            <thead>
                <tr>
                    <th scope="col" colspan="2" style="width: 200px"><h5>@DivisionVm.Division</h5></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in DivisionVm.Players)
                {
                    <tr>
                        <th scope="row" style="width: 50px">@player.Score</th>
                        <td style="width: 150px" class="text-clip">@player.Player</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public HallOfFameDivisionViewModel? DivisionVm { get; set; }
}