@using TMLeague.Components
@using TMLeague.Services
@using TMLeague.ViewModels
@inject SeasonService SeasonService

<h4>@(SeasonSummaryDetails?.SeasonName ?? "Season") summary</h4>

<TMLeague.Components.WorkInProgress></TMLeague.Components.WorkInProgress>

<div class="container">
    <div class="row">
        @if (SeasonSummaryDetails == null)
        {
            <Loading></Loading>
        }
        else
        {
            @foreach (var division in SeasonSummaryDetails.DivisionIds)
            {
                <div class="col-sm-4">
                    <DivisionSummary LeagueId="@LeagueId" SeasonId="@SeasonId" DivisionId="@division"></DivisionSummary>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public string? LeagueId { get; set; }

    [Parameter]
    public string? SeasonId { get; set; }

    private SeasonSummaryViewModel? SeasonSummaryDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (LeagueId != null && SeasonId != null)
            SeasonSummaryDetails = await SeasonService.GetSeasonSummaryVm(LeagueId, SeasonId);
    }
}