@page "/"
@inject HomeService HomeService

<PageTitle>Thronemaster leagues</PageTitle>

<p class="lead d-none d-sm-block d-md-block d-lg-block d-xl-block">
    Rankings, halls of fame and summaries of thronemaster leagues.
</p>

@if (HomeVm == null)
{
    <TMLeague.Components.Loading></TMLeague.Components.Loading>
}
else if (HomeVm.Leagues.Count == 0)
{
    <p>No league found... Try again later...</p>
}
else
{
    <div class="d-flex flex-wrap w-100 h-100">
        @foreach (var league in HomeVm.Leagues)
        {
            <a class="btn btn-primary btn-league btn-league d-flex w-50 m-0"
               style="@(league.BackgroundImage == null ? "" : $"background-image: url('{league.BackgroundImage}');")"
               href="@RouteProvider.GetLeagueIndexRoute(league.Id)">
                <span class="h2 m-auto">@league.Name</span>
            </a>
        }
    </div>
}

@code {
    private HomeViewModel? HomeVm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HomeVm = await HomeService.GetHomeVm();
    }
}