@page "/league/{leagueId}/judge"
<h3>League @LeagueId</h3>
<h4>Judge panel</h4>

<div class="container-fluid align-content-center">
    <TMLeague.Components.WorkInProgress></TMLeague.Components.WorkInProgress>
</div>

@code {
    [Parameter]
    public string? LeagueId { get; set; }
}