@using TMInfrastructure.Http

@if (string.IsNullOrEmpty(PlayerName))
{
    @PlayerName
}
else
{
    <a href="@ThroneMasterUriProvider.GetPlayerUri(PlayerName)" class="text-primary">@PlayerName</a>
}

@code {
    [Parameter]
    public string? PlayerName { get; set; }
}